.skill{
    font-size: 2rem ;
    transition: 0.5s;
}

.skill:hover{
font-size: 100px;
transition: 0.5s;
}
.mid{
    margin-left: 10px;
    margin-right: 10px;
}
.gs{
    transition: 0.5s;
}
 .gs:hover{
    font-size: 2.5rem;
    transition: 0.5s;
    color: darkblue;
 }

.html:hover{
    color: rgb(255, 98, 0)
}
.css:hover{
    color: blue;
}
.js:hover{
    color: yellow;
}
.node:hover{
    color: green;
}
.react:hover{
    color: aqua;
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }